/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "custom/devise_styles.scss";
@import "bootstrap";
@import "carousel.scss";

.cadre{
	width: 87%;
	margin-top: 5%;
}

/*Pour event.php*/
.flou{
	position: absolute;
	top: 0; bottom: 0; left: 0; right: 0;
	margin: 0;
	padding: 0;
	padding-top: 50px;
	width: 100%;
	height: 100%;
	color: black;
}

.flou:before{
	content: "";
	position: fixed;
	height: 100%;
	width: 100%;
	background: url(montpellier.jpg);
	background-size: cover;
	z-index: -1;
	-webkit-filter: blur(15px);
	background-repeat: no-repeat;
}


.map{
	height: 400px;
}

/*Pour listeEvent.php*/
.eventxt
{
	height: auto;
	margin-bottom: 1%;
}
.lienEvent{
	text-decoration: none;
	color: black;
}

.lienEvent:hover{
	text-decoration: none;
	color: black;
}

#profil
{
	padding: 3px;
	padding-right:0;
	border: solid  1px;
	border-color: grey;
	border-radius: 15px;
	margin-right: 15px; 
}

#txticon
{
	margin-right: 12px; 
	color: #fff;
	position: relative;
	top: 5px;
}

#usericon
{
	padding-top: 0px;
	padding-right: 0px;
}


#anim 
{			
	position: relative;
	margin: auto;
	width: 75%;
	margin: auto;
	text-align: center;
	border-bottom-left-radius: 15px; 
	border-bottom-right-radius: 15px;
}

.valid
{
	background-color: #81c8f0;
}

.invalid
{
	background-color: #e74c3c;
}
#header
{
	overflow: visible;
}

.fa-star
{
padding: 4.5%;
font-size: 15px;
text-align: center;
text-decoration: none;
border-radius: 0;
width: 0px;
margin: 0;
}
#stardiv
{
	width: auto;
}
.checked{

	color: orange;
}

/*Pour index.php*/
#more
{
	padding: 15px;
	border: solid  2px;
	border-color: grey;
	border-radius : 25px;
	text-decoration: none;
	color: #000;
}
#more:hover
{
	
	background-color:#f2f2f2;
}

#ik
{

	margin-right: 15px; 
}



.barre{
    position: relative;
    top: 19px;
    left: -100px;
    transform: translate(-50%,-50%);
    transition: all 1s;
    width: 40px;
    height: 40px;
    background: white;
    box-sizing: border-box;
    border-radius: 25px;
    border: 4px solid white;
    padding: 0px;
}

.search{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;;
    height: 42.5px;
    line-height: 30px;
    outline: 0;
    border: 0;
    display: none;
    font-size: 1em;
    border-radius: 20px;
    padding: 0 20px;
}

.bi{
    box-sizing: border-box;
    padding: 10px;
    width: 40.5px;
    height: 40.5px;
    position: absolute;
    top: 0;
    right: -15%;
    border-radius: 50%;
    color: #07051a;
    text-align: center;
    font-size: 1.2em;
    transition: all 1s;
}

.barre:hover{
    width: 200px;
    cursor: pointer;
    height: 40px;
    left: 4px;
}

.barre:hover .search{
    display: block;
    height: 40px;
}

.barre:hover .bi{
    background: white;
    color: white;
    right: 0%;
  
}